
# Dépendances Composer
/vendor/

# Dépendances Node.js
/node_modules/

# Cache et logs
/var/cache/
/var/log/

# Fichiers d'environnement (ne pas partager !)
/.env
.env.local
.env.*.local

# Fichiers de base de données
/var/data/
*.sqlite
*.sqlite3

# Fichiers générés
/public/build/
public/bundles/

# IDE & OS
*.swp
*~
.idea/
.vscode/
.DS_Store
Thumbs.db


###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
