
/* Mode clair  */
:root {
  /*goobal */
  --bg-page:           #f7f7f7;    
  --text-base:         #1c3d5a;

  /* Carte */
  --card-bg:           #e3f2fd;
  --card-title-color:  #284E7B;
  --card-border:       rgba(30, 58, 95, 0.15);

  /* butonns */
  --btn-bg:            #659abd;
  --btn-text:          #ffffff;
  --btn-hover:         #ca3c66;

  /* form rgpd */
  --input-border:      #ccc;
  --rgpd-bg:           #f3f3f3;
  --rgpd-text:         #444;

    /* calendrier */
  --calendar-bg:       #fcfcfc;   
  --calendar-text:     #284E7B;   
  --calendar-active-bg:#ca3c66;   
  --calendar-active-text: #ffffff;
  --calendar-hover-bg: #bbdefb;   
  --calendar-border:   #ddd;  

  --admin-bg-card:       #f9f9f9;   
  --admin-text-title:    #2c3e50;   
  --admin-select-bg:     #ffffff;   
  --admin-select-border: #ccc;      
  --admin-button-bg:     #e74c3c;   
  --admin-button-text:   #ffffff;   
  --admin-button-hover:  #c0392b;   
  --admin-error:         #e74c3c;   
  

 /* WorkspaceDetail */
  --ws-btn-channel-text:            #ffffff;    
  --ws-btn-channel-bg:              #284e7b;    
  --ws-btn-channel-bg-hover:        #add4f3;    
  --ws-members-list-bg:             #eff3f5;    
  --ws-member-row-bg:               #f4f4f4;   
  --ws-member-label-text:           #2c3e50;   
  --ws-btn-member-delete-bg:        #e74c3c;    
  --ws-btn-member-delete-text:      #ffffff;    
  --ws-btn-member-delete-hover:     #c0392b;    
  --ws-scroll-thumb:                #888888;    
  --ws-scroll-track:                #f0f0f0;  
  --ws-btn-invite-bg:               #27ae60;    
  --ws-btn-invite-text:             #ffffff;    
  --ws-btn-invite-hover:            #1e8449;    
  --ws-btn-secondary-bg:            #27ae60;    
  --ws-btn-secondary-text:          #ffffff;   
  --ws-btn-secondary-hover:         #1e8449;    
  --ws-invite-text-color:           #34495e;   
  --ws-input-bg:                    #eff3f5;    
  --ws-input-text:                  #888888;   
  --ws-input-border:                #cccccc;

  /* WorkpsaceList*/
  --wl-title:               #284E7B;
  --wl-card-bg:             #add4f3;                 
  --wl-card-text:           #1f1f1f;                
  --wl-card-shadow:         0 2px 8px rgba(0,0,0,0.1);
  --wl-card-border-radius:  12px;                  
  --wl-card-hover-bg:       #284E7B;             
  --wl-card-hover-text:     #ffffff;               
  --wl-card-hover-shadow:   0 6px 16px rgba(0,0,0,0.15);
  --wl-input-bg:            #ffffff;               
  --wl-input-text:          #1f1f1f;              
  --wl-input-border:        #ccc;                 
  --wl-input-border-radius: 8px;                    
  --wl-button-bg:           #add4f3;                 
  --wl-button-text:         #1f1f1f;                 
  --wl-button-hover-bg:     #284E7B;               
  --wl-button-hover-text:   #ffffff;                
  --wl-button-border-radius:8px;                   
  --wl-form-gap:            0.4rem;


    /* login et register */
  --login-bg:                     #f5f5f5;
  --login-title-color:            #284E7B;
  --login-title-font-size:        2.5rem;
  --login-title-font-weight:      bold;
  --login-title-margin-bottom:    2rem;
  --login-form-bg:                transparent;
  --login-form-padding:           2rem 3rem;
  --login-form-width:             200px;
  --login-form-gap:               1rem;
  --login-input-bg:               transparent;
  --login-input-border:           #284e7b;
  --login-input-border-width:     2px;
  --login-input-border-radius:    10px;
  --login-input-padding:          10px;
  --login-input-text:             #284e7b;
  --login-input-placeholder:      #add4f3;
  --login-input-font-weight:      bold;
  --login-input-font-size:        1rem;
  --login-input-transition:       border-color 0.3s;
  --login-btn-bg:                 #659abd;
  --login-btn-text:               #eff3f5;
  --login-btn-padding:            10px;
  --login-btn-border:             none;
  --login-btn-border-radius:      10px;
  --login-btn-font-weight:        bold;
  --login-btn-cursor:             pointer;
  --login-btn-transition:         background 0.3s ease;
  --login-btn-hover-bg:           #CA3C66;
  --login-error-color:            #e63946;
  --login-signup-color:           #007bff;
  --login-signup-cursor:          pointer;
  --login-icon-size:              40px;
  --login-icon-cursor:            pointer;
  --login-icon-hover-scale:       1.1;
  --login-icon-transition:        transform 0.2s ease;

    /* carte user */
  --user-bg-card:            #ffffff;
  --user-text-title:         #2c3e50;  
  --user-text-content:       #34495e;  
  --user-text-strong:        #2c3e50;  
  --user-btn-bg:             #27ae60;
  --user-btn-text:           #ffffff;
  --user-btn-hover-bg:       #219150;
  --user-loading-text:       #7f8c8d;

  /* ârtage fichier */
  --shared-bg:                #fefefe;      
  --shared-text:              #1f3a68;     
  --shared-card-bg:           #e0edff;      
  --shared-card-hover-bg:     #d0e3ff;     
  --shared-link-text:         #007bff;      
  --shared-link-hover:        #0056b3;     
  --shared-primary:           #007bff;     
  --shared-primary-hover:     #0056b3;      
  --shared-secondary:         #dc3545;      
  --shared-secondary-hover:   #a71d2a;    
  --shared-author-text:       #555;         
  --shared-error-text:        #e63946;    
  --shared-card-shadow:       0 4px 10px rgba(0,0,0,0.05); 

    /* conv privée */
  --msg-bg-container:           transparent;      
  --msg-sidebar-bg:             #eef5ff;           
  --msg-sidebar-border:         #e0e0e0;           
  --msg-sidebar-title:          #2d3748;           
  --msg-btn-start-bg:           #f1f3f7;          
  --msg-btn-start-text:         #2c5282;           
  --msg-btn-start-hover:        #c7dbff;          
  --msg-new-bar-bg:             #ffffff;          
  --msg-new-bar-border:         #ccc;           
  --msg-input-bg:               #ffffff;
  --msg-input-border:           #cbd5e0;
  --msg-input-text:             #000000;
  --msg-btn-send-bg:            #CA3C66;
  --msg-btn-send-text:          #ffffff;
  --msg-btn-send-hover:         #a32b51;
  --msg-conv-text:              #3182ce;           
  --msg-conv-hover-text:        #3182ce;          
  --msg-main-bg:                #ffffff;          
  --msg-no-conv-text:           #4a5568;          
  --msg-item-bg:                #f0f7ff;
  --msg-item-hover-bg:          #e0f0ff;        
  --msg-error-text:             #e63946;
  --chat-bg: #eeeeee;
  --chat-border: #8bbcf3;
  --chat-title: #284E7B;
  --chat-list-bg: #ffffff;
  --chat-list-border: #8BBCF3;
  --chat-inner-bg: #fff;
  --chat-inner-border: #E0E0E0;
  --chat-time: #555;
  --chat-button: #DC3545;
  --chat-menu-bg: #ffffff;
  --chat-menu-item: #374151;
  --chat-edit-button: #3b82f6;
  --chat-edit-button2: #e5e7eb;
  --chat-form-bg: #f9fafb;
  --chat-form-input: #ffffff;
  --chat-form-focus: #3b82f6;
  --chat-file: #ffffff;
  --chat-file-hover: #f3f4f6;
  --chat-emoji: #ffffff;
  --chat-button-send: #add4F3;
  --chat-button-send-write: #ffffff;

    /* message */
  --msg-bg-container:       #eef5ff;
  --msg-sidebar-bg:         #eef5ff;
  --msg-sidebar-border:     #e0e0e0;
  --msg-sidebar-title:      #2d3748;
  --msg-btn-start-bg:       #f1f3f7;
  --msg-btn-start-text:     #2c5282;
  --msg-btn-start-hover:    #c7dbff;
  --msg-new-bar-bg:         #ffffff;
  --msg-new-bar-border:     #ccc;
  --msg-input-bg:           #ffffff;
  --msg-input-border:       #ccc;
  --msg-input-text:         #111;
  --msg-btn-send-bg:        #f87171;
  --msg-btn-send-text:      #ffffff;
  --msg-btn-send-hover:     #ef4444;
  --msg-error-text:         #dc3545;
  --msg-conv-text:          #3182ce;
  --msg-main-bg:            #ffffff;
  --msg-no-conv-text:       #4a5568;
  --msg-item-bg:            #111;
  --msg-item-hover-bg:      #add4f3;

    /* home */
  --home-header-bg:            #eef5ff;      
  --home-header-border:        rgba(0, 0, 0, 0.1); 
  --home-header-text:          #213547;      
  --home-welcome-text:         #284E7B;       
  --home-card-bg:              #add4f3;       
  --home-card-text:            #333333;      
  --home-card-shadow:          rgba(0, 0, 0, 0.08);  
  --home-card-hover-bg:        #284e7b;       
  --home-card-hover-text:      #8f908d;      
  --home-card-hover-shadow:    rgba(0, 0, 0, 0.15);  
    --home-card-co: #add4f3;
    --home-card-co-hover : #284E7B;
  --home-header-dropdown: #ffffff;
}


/* Mode sombre */
body.theme-dark {
  --bg-page:           #0d1724; 
  --text-base:         #add4f3;

  --card-bg:           #284E7B; 
  --card-title-color:  #f0f4f8; 
  --card-border:       rgba(240, 244, 248, 0.15);

  --btn-bg:            #3a5a7a; 
  --btn-text:          #add4f3; 
  --btn-hover:         #ca3c66; 

  --input-border:      #555;    
  --rgpd-bg:           #3b4a5b; 
  --rgpd-text:         #ddd;   

  /* Calendrier */
  --calendar-bg:         #1e324a;    
  --calendar-text:       #add4f3;   
  --calendar-active-bg:  #ca3c66;   
  --calendar-active-text:#ffffff;  
  --calendar-hover-bg:   #3a5a7a;   
  --calendar-border:     #444;       

    
  /* carte admin */
  --admin-bg-card:       #1e2733;   
  --admin-text-title:    #add4f3;   
  --admin-select-bg:     #2c3e50;   
  --admin-select-border: #555;
  --admin-button-bg:     #922b21; 
  --admin-button-text:   #ffffff;   
  --admin-button-hover:  #c0392b;
  --admin-error:         #e63946;   

   /* WorkspaceDetail */
  --ws-btn-channel-text:            #ffffff;    
  --ws-btn-channel-bg:              #659abd; 
  --ws-btn-channel-bg-hover:        #add4f3;    
  --ws-members-list-bg:             #0d1724;    
  --ws-member-row-bg:               #0d1724;   
  --ws-member-label-text:           #ffffff;   
  --ws-btn-member-delete-bg:        #e74c3c;    
  --ws-btn-member-delete-text:      #ffffff;    
  --ws-btn-member-delete-hover:     #c0392b;   
  --ws-scroll-thumb:                #888888;    
  --ws-scroll-track:                #0d1724;  
  --ws-btn-invite-bg:               #27ae60;   
  --ws-btn-invite-text:             #ffffff;   
  --ws-btn-invite-hover:            #1e8449;    
  --ws-btn-secondary-bg:            #27ae60;    
  --ws-btn-secondary-text:          #ffffff;    
  --ws-btn-secondary-hover:         #1e8449;    
  --ws-invite-text-color:           #add4f3;    
  --ws-input-bg:                    #284e7b;    
  --ws-input-text:                  #add4f3;   
  --ws-input-border:                #add4f3;

    /* WORKSAPCE LIST */
  --wl-title:               #add4f3;
  --wl-card-bg:             #284e7b;                 
  --wl-card-text:           #ffffff;               
  --wl-card-hover-bg:       #add4f3;                
  --wl-card-hover-text:     #284e7b;               
  --wl-input-bg:            #2C3E50;               
  --wl-input-text:          #add4f3;              
  --wl-input-border:        #ccc;                    
  --wl-button-bg:           #284e7b;                
  --wl-button-text:         #1f1f1f;               
  --wl-button-hover-bg:     #284E7B;                 
  --wl-button-hover-text:   #ffffff;                

      /* login et register */
  --login-bg:                     #0d1724;
  --login-title-color:            #284E7B;
  --login-title-font-size:        2.5rem;
  --login-title-font-weight:      bold;
  --login-title-margin-bottom:    2rem;
  --login-form-bg:                transparent;
  --login-form-padding:           2rem 3rem;
  --login-form-width:             200px;
  --login-form-gap:               1rem;
  --login-input-bg:               transparent;
  --login-input-border:           #659abd;
  --login-input-border-width:     2px;
  --login-input-border-radius:    10px;
  --login-input-padding:          10px;
  --login-input-text:             #add4f3;
  --login-input-placeholder:      #add4f3;
  --login-input-font-weight:      bold;
  --login-input-font-size:        1rem;
  --login-input-transition:       border-color 0.3s;
  --login-btn-bg:                 #659abd;
  --login-btn-text:               #eff3f5;
  --login-btn-padding:            10px;
  --login-btn-border:             none;
  --login-btn-border-radius:      10px;
  --login-btn-font-weight:        bold;
  --login-btn-cursor:             pointer;
  --login-btn-transition:         background 0.3s ease;
  --login-btn-hover-bg:           #CA3C66;
  --login-error-color:            #e63946;
  --login-signup-color:           #007bff;
  --login-signup-cursor:          pointer;
  --login-icon-size:              40px;
  --login-icon-cursor:            pointer;
  --login-icon-hover-scale:       1.1;
  --login-icon-transition:        transform 0.2s ease;

      /* user */
  --user-bg-card:            #284e7b;
  --user-text-title:         #ffffff; 
  --user-text-content:       #add4f3;  
  --user-text-strong:        #ffffff; 
  --user-btn-bg:             #27ae60;
  --user-btn-text:           #ffffff;
  --user-btn-hover-bg:       #219150;
  --user-loading-text:       #7f8c8d;

    /* fichirs */
  --shared-bg:                #284e7b;      
  --shared-text:              #add4f3;      
  --shared-card-bg:           #e0edff;      
  --shared-card-hover-bg:     #d0e3ff;     
  --shared-link-text:         #007bff;      
  --shared-link-hover:        #0056b3;      
  --shared-primary:           #007bff;    
  --shared-primary-hover:     #0056b3;     
  --shared-secondary:         #dc3545;     
  --shared-secondary-hover:   #a71d2a;    
  --shared-author-text:       #555;        
  --shared-error-text:        #e63946;     
  --shared-card-shadow:       0 4px 10px rgba(0,0,0,0.05); 

      /* conv privée */
  --msg-bg-container:           transparent;      
  --msg-sidebar-bg:             #284e7b;         
  --msg-sidebar-border:         #add4f3;      
  --msg-sidebar-title:          #add4f3;           
  --msg-btn-start-bg:           #add4f3;          
  --msg-btn-start-text:         #2c5282;           
  --msg-btn-start-hover:        #c7dbff;           
  --msg-input-bg:               #ffffff;
  --msg-input-border:           #cbd5e0;
  --msg-input-text:             #000000;
  --msg-btn-send-bg:            #CA3C66;
  --msg-btn-send-text:          #ffffff;
  --msg-btn-send-hover:         #a32b51;
  --msg-conv-text:              #3182ce;          
  --msg-conv-hover-text:        #3182ce;           
  --msg-main-bg:                #add4f3;           
  --msg-no-conv-text:           #4a5568;          
  --msg-item-bg:                #f0f7ff;
  --msg-item-hover-bg:          #e0f0ff;           
  --msg-error-text:             #e63946;
   --chat-bg: #add4F3;
  --chat-border: #add4F3;
  --chat-title: #284E7B;
  --chat-list-bg: #ADD4F3;
  --chat-list-border: #ADD4F3;
  --chat-inner-bg: #284E7B;
  --chat-inner-border: #E0E0E0;
  --chat-time: ;
  --chat-button: #DC3545;
  --chat-menu-bg: #ffffff;
  --chat-menu-item: #374151;
  --chat-edit-button: #3b82f6;
  --chat-edit-button2: #e5e7eb;
  --chat-form-bg: #3A5A7A;
  --chat-form-input: #3B4A5B;
  --chat-form-focus: #3b82f6;
  --chat-file: #3B4A5B;
  --chat-file-hover: #284E7B;
  --chat-emoji: #3B4A5B;
  --chat-button-send: #3B4A5B;
  --chat-button-send-write: #ffffff;

      /* message */
  --msg-bg-container:       #284e7b;
  --msg-sidebar-bg:         #284e7bS;
  --msg-sidebar-border:     #284e7b;
  --msg-sidebar-title:      #add4f3;
  --msg-btn-start-bg:       #add4F3;
  --msg-btn-start-text:     #2c5282;
  --msg-btn-start-hover:    #c7dbff;
  --msg-new-bar-bg:         #add4f3;
  --msg-new-bar-border:     #ccc;
  --msg-input-bg:           #ffffff;
  --msg-input-border:       #ccc;
  --msg-input-text:         #111;
  --msg-btn-send-bg:        #f87171;
  --msg-btn-send-text:      #ffffff;
  --msg-btn-send-hover:     #ef4444;
  --msg-error-text:         #dc3545;
  --msg-conv-text:          #3182ce;
  --msg-main-bg:            #add4f3;
  --msg-no-conv-text:       #4a5568;
  --msg-item-bg:            #111;
  --msg-item-hover-bg:      #add4f3;

  --home-header-bg:            #284e7b;     
  --home-header-border:        rgba(0, 0, 0, 0.1); 
  --home-header-text:          #213547;    
  --home-welcome-text:         #add4f3;     
  --home-card-bg:              #284E7B;    
  --home-card-text:            #add4F3;      
  --home-card-shadow:          rgba(0, 0, 0, 0.08); 
  --home-card-hover-bg:        #add4F3;      
  --home-card-hover-text:      #8f908d;    
  --home-card-hover-shadow:    rgba(0, 0, 0, 0.15); 
  --home-card-co: #add4F3;
  --home-card-co-hover: #213547;
  --home-header-dropdown: #284E7B;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--bg-page);
  color: var(--text-base);
}

#root {
  min-height: 100vh;
  background-color: var(--bg-page);
}
