:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center; /* centrage horizontal */
  align-items: start;       /* ou center si tu veux centrer aussi verticalement */
  min-width: 320px;
  min-height: 100vh;
  background-color: #f4f4f4;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* HomeCards.css */

.header-home {
  width: 100vw; /* occupe toute la largeur de la fenêtre */
  margin: 0;
  padding: 0.1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eef5ff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0; /* plus de coins arrondis */
  box-sizing: border-box;
  margin-bottom: 0.8rem;
}

.header-barre, .header-logo, .header-logout {
  display: flex;
  align-items: center;
}


.header-logo .logo {
  height: 80px;
}

.header-barre {
  flex: 3;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.header-barre {
  width: 300px;
  max-width: 800px;
}

.header-logout .logout-button {
  background-color: #ff4d4d;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.header-logout .logout-button {
  background-color: #add4f3; /* Bleu clair identique aux cards */
  color: #1f1f1f;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.logout-button:hover {
  background-color: #CA3C66; /* Rouge au hover */
  color: white;
}

.search-input {
  padding: 10px 16px;
  width: 500px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 120px); /* 3 colonnes de 120px */
  justify-content: center;
  gap: 1.2rem;
  padding: 0.5rem 1rem;
}

.card {
  background: #add4f3;
  border-radius: 1rem;
  width: 120px;
  height: 120px; /* carré parfait */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.card:hover {
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
  background-color: #284e7b;
  transform: scale(1.1);
}

.card img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  margin-bottom: 0.4rem;
}

.card h2 {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  color: #333;
}

.card:hover h2 {
  color: #8f908d;
}

.card p {
  font-size: 0.7rem;
  color: #666;
  margin: 0;
}

.card:hover p {
  color: #eff3f5;
}

.welcome-name {
  text-align: center;
  margin-top: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}
